*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-primary: #3563E9;
    --color-primary2: #54A6FF;
    --color-text: #13131399;
    --color-titles: #1A202C;
    --color-categories: #90A3BF;
    --color-detailpage: #596780; 
    --color-home: #F6F7F9;
    --color-red: #ED3F3F;
}

button,
a,
ul,
li
{
  border: none;
  outline: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
  list-style-type: none;
  padding: 0;
}

img{
    vertical-align:auto;
}
.container {
    margin: 0 auto;
    max-width: 1300px;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.input-container input {
    background: none;
    border: 1px solid;
    outline: none;
    padding: 12px 20px;
    margin-left: 80px
}
  
.button.active{
    background: var(--color-primary);
    color: white;
}


.footer-list-text{
    font-size: 14px;
    color: var(--color-text);
    margin-top: 20px;
}

.footer-list-text a{
    margin-top: 20px;
    color: var(--color-text);
    text-decoration: none;
}

.footer-list{
    margin-top: 18px;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}


.footer-right{
    padding-right: 60px;
}

.footer-text a{
    color: var(--color-titles);
    font-size: 14px;

}

.type-car{
    color: var(--color-categories);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: "Plus Jakarta Sans";
}

.type-car2{
    color: var(--color-detailpage);
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}
